.navIcons{
    
    margin: 0px 100px;
    
    width:64px;
    height:64px;
}

.mainFooter {
    border: 1px solid black;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}



.albumCover {
    height: 200px;
}

.moviePoster {
    height: 300px;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.movieList li {
    list-style: none;
    width: 30%;
}