body {
    padding: 0% 10%;
    background-color: antiquewhite;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3 {
    font-family: 'Anton', sans-serif;
}

p,
li,
h4,
h5,
h6 {
    font-family: 'Thasadith', sans-serif; 
}

ul {
    list-style: none;
}

.report {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

.pageTitle {
    display: flex;
    justify-content: center;
}

.jtMainContent__section{
    margin: 50px 0px;
}
.footerSocialIcons {
    display: flex;
}

.navIcons {
    height: 50px;
    margin: 0px 10px;
    width:64px;
    height:64px;
}


.logoIcon {
    padding: 0px 50px 0px 10px; 
    width:64px;
    height:64px;
}

.jtMainContent__businessBlock{
    display: flex;
    justify-content: center;
}
.jtGif {
    background-image: url('source.gif');
    background-size: cover;
}

html, body {
    height: 100%;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
 }

.mainFooter {
  
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    
    flex-shrink: 0;
}

.mainPageFooter {
    margin-top: 20px;
    border-top: 1px solid black;
}

.container{
    border-bottom: 1px solid black;
}


.lowerText {
    position:relative;  top: 20px;
}


nav {
    width: 100%;
    display: flex;
    justify-content: center;


}

/* .collaborators {
    padding: 20px;
} */

.navBarList li {
    list-style: none;
    float: left;
}

.navBarList > li {
    font-family: 'Anton', sans-serif;
}

.navBarList a {
    display: block; 
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    /* flex-direction: row-reverse;  */
    justify-content:space-evenly; 
    width: 118px;
}

.navBarList a:hover {
    background-color: #555;
    color: white;
}

/****** Career Page Styles ******/
/********************************/

.mouseClubSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mouseClubSection img,
.mouseClubSection ul {
    width: 40%;
}

.mouseClubPhoto {
    height: 400px;
    border: 5px black solid;
}

.nsyncLists {
    display: flex;
}

.albumImages,
.movieImages {
    display: flex;
    justify-content: space-around;
}

.albumCover {
    height: 200px;
    border: 5px black solid;
}

.moviePoster {
    height: 300px;
    border: 5px black solid;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    height: 200px;.mainFooterPage ƒ
}

.movieList li {
    width: 33%;
}


/********************************/


/* Personal page styling */

.personal_img {
    height: 325px;
    width: 400px;
    border: 5px solid black;
}

#bottomSpace {
    height: 600px;
}

.albumCover2 {
    height: 200px;
    border: 5px black solid;
   
}

.newsHeader {
    text-align: center;
}